
$primary-background-color: #4056A1;
$secondary-background-color: #f4f1ec;
$font-color: #545149;
$background-color: rgb(231, 137, 13);

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Bungee', cursive;