@import 'variables';

header {
  display: flex;
  height: 510px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: $background-color;
  background-image: url('../images/brick-wall.png');
}


/* 
  Media queries for a responsive design.
  -For desktops 1024px.
*/

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    width: 30%;
    height: 18em;
    float: left;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 200px;
  }
}