header {
  display: flex;
  height: 510px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: rgb(231, 137, 13);
  background-image: url('../images/brick-wall.png');
}


/* 
  Media queries for a responsive design.
  -For desktops 1024px.
*/

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    width: 30%;
    float: left;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 200px;
  }
}

/* To show the username before 1024px (like in the GIF in Compass) */

@media only screen and (min-width: 1400px) {
  header .username {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300s, opacity 300ms;
  }  
}