nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav span {
  font-family: 'Bungee', cursive;
}

.tweet {
  text-align: center;
}