.new-tweet {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.new-tweet textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 5px solid grey;
  background: transparent;
  font-size: 90%;
  font-weight: bold;
}

.new-tweet textarea::-webkit-scrollbar {
  width: 10px;
}

.new-tweet textarea::-webkit-scrollbar-track {
  background: #f4f1ec;
}

.new-tweet textarea::-webkit-scrollbar-thumb {
  background: #888;
}

.new-tweet textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;  
  padding-top: 0.50em;
}

.new-tweet label {
  display: flex;
  font-weight: bold;
}

.new-tweet button {
  background-color: #4056A1;
  color: white;
  border: none;
}

#validation-error-alert {
  margin-bottom: 10px;
  padding: 20px;
  color: #dd5757;
  background: #ffe0e0;
  border: 2px solid #dd5757;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
  text-align: left;
}